.wrapper {
  display: grid;
  height: 1200px;
  width: 100vw;
  grid-template-rows: 125px 400px 125px 125px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.logo {
  border: 3px solid black;
  grid-column: 1;
  grid-row: 1;
}

.menu {
  border: 3px solid black;
  grid-column: 2/4;
  grid-row: 1;
}

main {
  border: 3px solid black;
  grid-row: 2/3;
  grid-column: 1/3;
}

aside {
  border: 3px solid black;
  grid-row: 2/3;
  grid-column: 3;
}

.sponsors {
  display: flex;
  grid-row: 3;
  grid-column: -1/1;
  justify-content: space-around;
  align-items: center;
  border: 3px solid black;
}

.item1 {

  height: 100px;
  width: 100px;
  background-color: gray;
  border: 3px solid black;
}

.item2 {
  height: 100px;
  width: 100px;
  background-color: gray;
  border: 3px solid black;
}

.item3 {
  height: 100px;
  width: 100px;
  background-color: gray;
  border: 3px solid black;
}

.item4 {
  height: 100px;
  width: 100px;
  background-color: gray;
  border: 3px solid black;
}

.item5 {
  height: 100px;
  width: 100px;
  background-color: gray;
  border: 3px solid black;
}

footer {
  border: 3px solid black;
  grid-row: 4;
  grid-column: -1/1;
}
